@font-face {
    font-family: myFirstFont;
    src: url(Consolas.ttf);
}

p {
    font-family: myFirstFont;
    color: #0094ff;
    font-size: 20px;
}

@font-face {
    font-family: myFirstFont2;
    src: url(ITCEDSCR.ttf);
}


p::first-letter { 
    font-family: myFirstFont2;
    font-size: 60px;
}

