body {
    background-color: azure;
}

main {
    overflow: hidden;
}

nav {
    float: left;
    width: 20%;
}

section {
    float: right;
    width: 80%;
}

header {
    background-image: url(images/linkedin-logo.png) no-repeat;
    width: 200px;
}

a {
    color: blue;
}

fieldset {
    border: 1px ridge silver;
    width: 200px;
}